<template>
    <lightning-layout>

        <lightning-layout-item padding="around-large" size="6">
            <lightning-card title="High Value Forecast By Month" icon-name="standard:opportunity" class="slds-var-m-around_large">
                <div class="forecast-by-month slds-var-m-around_medium" lwc:dom="manual"></div>
            </lightning-card>
        </lightning-layout-item>

        <lightning-layout-item padding="around-large" size="6">
            <lightning-card title="Historical High Value Conversions" icon-name="standard:opportunity" class="slds-var-m-around_large">
                <div class="conversion-rate-by-month slds-var-m-around_medium" lwc:dom="manual"></div>
            </lightning-card>
        </lightning-layout-item>

    </lightning-layout>
    
    
</template>